<form action="/square/results">
  <label for="square">Enter a number</label><br>
  <input id="square" name="users_number" type="text" placeholder="What number do you want"><br>

  <button>Calculate Square</button>

</form>
